<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ config.site_name }}</title>
  <meta name="description" content="{{ config.site_description }}">
  <meta name="author" content="{{ config.site_author }}">

  <link rel="stylesheet" href="{{ 'style.css' | url }}">
</head>
<body>
  <header class="header">
    <h1 class="header__title">{{ config.site_name }}</h1>

      <nav class="header__nav">
        {% for header__nav_item in nav %}
          <a href="{{ header__nav_item.url | url }}" class="nav-link {% if header__nav_item.active %}active{% endif %}">
            {{ header__nav_item.title }}
          </a>
        {% endfor %}
      </nav>
  </header>

  <div class="divider"></div>

  <main class="main">
    {{ page.content }}
  </main>

  <footer class="footer">
    &copy; {{ config.site_author }}
  </footer>
</body>
</html>